/*Color
lightgreen: #228C71;
lightblue:#97C9CE;
cream: #E6E2CB;
lightorange: #C07449;
maroon: #713632;
*/

body{
    margin:0;
    padding:0;
    background-color: #97C9CE;
}
.container{
    height: 100%;
    width:90%;
    margin: auto;
}
 ul li{
    list-style: none;
}
ul.menu{
    display:grid;
    grid-column-gap: 10px;
    grid-template-columns:repeat(11, 1fr);  
}
.menu h3{
    font-size: 0.8rem;
    color:#E6E2CB;
    border: 1px solid #E6E2CB;
    margin:auto;
    padding:1px;
}
ul.menu li a{
    text-decoration: none;
    color:#E6E2CB;
    text-transform: uppercase;
}
.showcase{
    /* margin:0; */
    height:100vh;
    width:100%;
    background-image: url(../images/sc.jpg);
    background-size: cover;
}
.theme p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:4rem;
    color:#E6E2CB;
    text-transform: uppercase;
}
.services{
    background-color: #228C71;
    margin-top: -25px;
    /* margin-bottom:40px; */
}
.services h3{
    padding: 20px;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 1.8rem;   
}
.show{
    display:grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}
.whatwedo{
    margin-bottom:10px;
}
.whatwedo h2{
    font-size: 2rem;
    text-align: center;
}
.whatwedo p{
    font-size: 1rem;
    text-align: center;
    color:#A9A9A9;
    padding-bottom: 25px;  
}
footer{
    text-align: center;
    font-size: 0.8rem; 
}